.containerLogin {
	background-color: var(--bgContainer);
	height: 100vh;
}

.containerInputs {
	margin: 2rem var(--horizontalSpace);
}

@media (min-width: 600px) {
	.containerLogin {
		min-width: 646px;
	}
}